{% extends 'employerbase.html' %}
{% load static %}
{%block banner%}
<img src="{% static 'img/backgrounds/background_8.jpg' %}" width="100%" height ="100%"/>
{% endblock %}
{% block content %}
<h1 style="text-align:center;;">Page In Production</h1>
<p style="text-align:center;">This page hasn't been built and implemented yet. Below is a wireframe of what we envision the page could look like.</p>

<img style="height:100%;width:100%;" src="{% static 'img/CandidateProfile.png' %}">
 
{% endblock %}