{% extends 'employertablebase.html' %}
{% load static %}
{%block banner%}
<img src="{% static 'img/backgrounds/background_4.jpg' %}" width="100%" height ="100%"/>
{% endblock %}
{% block content %}
<div class="jobPosting">
    <style>label {font-weight:bold;
        display: inline-block;
        width: 210px;
        text-align: right;
        padding-left:15px;
        padding-right:15px;
        } 
        input, select {width:60%;padding-left:15px;}
        .choices {
            width:60%;
            display:inline-block;
        }
        .deactivate {
            text-align:left;
            display:inline-block;
            width:auto;
            margin-right:59.2%
        }

    </style>
    <div style="margin:auto;text-align:center;">
    <h1 style="text-align:center;">Enter your updated job information</h1>
    <form action="{% url 'editjobsuccess' %}" method="post">
        {% csrf_token %}
        <input type="text" value="{{jobIDToEdit}}" name="job_id" id="job_id" hidden>
        <div class="block">
            <label for="job_title">Job Title </label>
                <input type="text" id="job_title" name="job_title" value="{{jobToEdit.job_title}}" placeholder="Job Title | Max Length: 200 chars" autofocus>
        </div>
        <div class="block">
            <label for="salary">Job Salary </label>
                <input type="text" id="salary" name="salary" value="{{jobToEdit.salary}}" placeholder="Job Salary | Annual">
        </div>
        <div class="block">
            <label for="appStart">Application Start Date </label>
                <input type="date" name="appStart" id="appStart" value="{{jobToEdit.apply_startDate}}" placeholder="Application Start Date">
        </div>
        <div class="block">
            <label for="appEnd">Application End Date </label>
                <input type="date" name="appEnd" id="appEnd" value="{{jobToEdit.apply_endDate}}" placeholder="Application End Date">
        </div>
        <div class="block">
            <label for="jobStart">Job Start Date </label>
                <input type="date" name="jobStart" id="jobStart" value="{{jobToEdit.job_startDate}}" placeholder="Job Start Date">
        </div>
        <div class="block">
            <label for="jobLoc">Job Location </label>
                <input type="text" name="jobLoc" id="jobLoc" value="{{jobToEdit.job_location}}" placeholder="Job Location">
        </div>
        <div class="block">
            <label for="jobDesc">Job Description </label>
                <input type="text" name="jobDesc" id="jobDesc" value="{{jobToEdit.job_description}}" placeholder="Job Description | Max Length: 8000 chars" rows="10" style="height: 100px;">
        </div>
        <div class="block">
            <label for="requiredSkills">Required Skills</label>
                <select id="choices-multiple-remove-button" name="choices-multiple-remove-button-required" placeholder="Required Skills" style="width: 80%;" multiple>
                    {% for skill in Skills %}
                    <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="block">
            <label for="requiredSkills">Preferred Skills</label>
                <select id="choices-multiple-remove-button" name="choices-multiple-remove-button-preferred" placeholder="Preferred Skills" multiple>
                    {% for skill in Skills %}
                    <option value="{{skill.skill_name}}">{{skill.skill_name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="block">
            <label for="jobReq">Job Requirements </label>
                <input type="text" name="jobReq" id="jobReq" value="{{jobToEdit.job_requirements}}" placeholder="Job Requirements | Please describe any special requirements or qualifications for the job">
        </div>
        <div class="block">
            <label for="relocPac">Relocation Package </label>
                <input type="text" name="relocPac" id="relocPac" value="{{jobToEdit.relocation_package}}" placeholder="Relocation Package | Please describe any assistance provided for relocation">
        </div>
        <div class="block">
            <label for="jobBen">Job Benefits </label>
                <input type="text" name="jobBen" id="jobBen" value="{{jobToEdit.job_benefits}}" placeholder="Job Benefits | Please describe any benefits associated with the job">
        </div>
        <div class="block">
            <label for="deactivate">Deactivate job? </label>
                <input type="checkbox" name="deactivate" class="deactivate" id="deactivate" value="True" {% if jobToEdit.Job_filled == True %} checked {% endif %}>
            <br><br>
            <input type="submit" name="submit" id="submit" class="submit-button" style="width: 110px;">
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){

   var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
   removeItemButton: true,
   maxItemCount:100,
   searchResultLimit:20,
   renderChoiceLimit:20,
   });
});
</script>
{% endblock %}