{% extends 'employerbase.html' %}
{% load static %}
{%block banner%}
<img src="{% static 'img/backgrounds/background_4.jpg' %}" width="100%" height ="100%"/>
{% endblock %}
{% block content %}
    <h1 style="text-align:center;">Job Post Successful!</h1>
    <p style="text-align:center;">Thank you for posting a new job! Your job posting has been saved and is live for candidates to apply to.</p>
    <p style="text-align:center;">Try using our <b>"Find Candidates"</b> feature to review candidates which fit your job's skills.</p>
{% endblock %}