{% extends 'base.html' %}
{% load static %}
{% block banner %}
    <div class="homepage-banner">
        <div class="homepage-banner-inner">
            <h1>Welcome to the Black Cyber Recruiter network</h1>
            <div class="homepage-banner-inner-subtext">
                <p>We help connect job-seeking Blacks to employers, using a candidate's skills to help both the candidate
                    and the employer find the perfect match.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
<p>Here is some content for our home index page!</p>
{% endblock %}