{% extends 'base.html' %}
{% load static %}
{% block banner %}
<img src="{% static 'img/backgrounds/background_1.jpg' %}" width="100%" height ="100%"/>
    {% endblock %}
{% block content %}
    <h1 style="text-align:center;">Your Recommended Skills</h1>
    <p style="text-align:center;">Here are some skills to acquire that will help you land your next job.
    </p>
    <hr>
    {% for skill in SkillsReturned %}
        <h3 style="text-align:center;">{{skill |capfirst}}</h3>
    {% endfor %}
{% endblock %}