{% extends 'base.html' %}
{% load static %}
{% block content %}

    <p>This page will contain a django form which will accept the trainer's information</p>
    <p>It will also have buttons that links to pages where the user can do the following: </p>
    <ul>
    <li>search for a trainer that is already created</li>
    <li>delete a trainer that has been created</li>
    <li>update a trainer's information</li>
    </ul>
    <button><a href="{% url 'read' %}">Find a Trainer</a></button>
    <button><a href="{% url 'update' %}">Delete a Trainer</a></button>
    <button><a href="{% url 'delete' %}">Update a Trainer's Information</a></button>

{% endblock %}