{% extends 'base.html' %}
{% load static %}
{% block content %}

    <p>This page will contain a django form which will accept the trainer's name then allow the user to overwrite their information</p>
    <p>It will also have buttons that links to pages where the user can create a trainer or update a trainer's information</p>
    <button><a href="{% url 'createTrainer' %}">Create a Trainer</a></button>
    <button><a href="{% url 'deleteTrainer' %}">Update a Trainer's Information</a></button>
    <p>Data will be linked to the Trainer postgres table.</p>

{% endblock %}